<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @list.user_id %>
</p>

<%= render 'single_apps/list', single_apps: @list.single_apps %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
