<p id="notice"><%= notice %></p>

<h1>Listing Single Apps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @single_apps.each do |single_app| %>
      <tr>
        <td><%= single_app.name %></td>
        <td><%= single_app.description %></td>
        <td><%= single_app.image %></td>
        <td><%= single_app.price %></td>
        <td><%= single_app.url %></td>
        <td><%= link_to 'Show', list_single_app %></td>
        <td><%= link_to 'Edit', edit_list_single_app_path(single_app) %></td>
        <td><%= link_to 'Destroy', list_single_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Single app', new_list_single_app_path %>
<%= link_to 'Home', root_path %>