<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @single_app.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @single_app.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @single_app.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @single_app.price %>
</p>

<p>
  <strong>Url:</strong>
  <%= @single_app.url %>
</p>

<%#= link_to 'Edit', edit_single_app_path(@single_app) %> |
<%#= link_to 'Back', list_single_apps_path %>
<%#= link_to 'Home', root_path %>